BODY {
  font-family: sans;font-size: 14px;
  margin-right: 10px; margin-left: 10px;
  margin-top: 5px; background-color: #f0f1f2
}
A{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}
A:focus + #hlist {
  max-height:15em;
}

TT{
  color:#400030; font-size: 14px
}

PRE {
  font-size:12px;
}

TABLE.main {
  border-collapse : collapse;
  border : 0px;
  width : 100%;
}
TABLE.border {
  border: 1px solid rgb(110,130,150);
}

TD {
  font-family: sans;font-size: 14px;
  margin-right: 5px; margin-left: 5px;
}
TD.border {
  border: 1px solid rgb(110,130,150);
}
TD.line {
  border-top:solid 1px
}
TD.prel {
  font-family: monospace;font-size: 12px;
  background-color: rgb(215, 215, 215);color: #998866;
  border-right: solid 1px; border-left: solid 1px;
  border-top-left-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-left-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
  text-align: right;
}
TD.prer {
  font-family: monospace;font-size: 12px;
  background-color: rgb(245, 245, 248);
  border-right: solid 1px;
  border-top-right-radius: 10px;
  border-top:1px solid rgb(110,130,150);
  border-bottom-right-radius: 10px;
  border-bottom:1px solid rgb(110,130,150);
  padding: 4px;
}

DIV.head {
  padding-top:15px;
  padding-bottom:2px;
  text-align: center;
  font-weight:bold;
  color:#004060;
}

DIV.separator {
  height:15px;
}

DIV.enabled {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
  background: #ffffff;
  color: #000000;
}

DIV.disabled {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
  background: #f1f1f1;
  color: #909090;
}

BUTTON {
  width:100px;
}

.title {
  font-size: 24px; text-align: center;
}

.link{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: normal;font-size:14px;
}
.linkBold{
  text-decoration: none; font-family: sans;
  color: #000080; font-weight: bold;font-size:14px;
}
.frame {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame2 {
  background-color: rgb(250, 250, 230);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame3 {
  background-color: rgb(240, 245, 250);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.frame4 {
  background-color: rgb(250, 245, 240);
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}
.GrFrame {
  border: 1px solid rgb(110,130,150);
  font-family: sans;font-size: 14px;
  padding: 4px;border-radius: 4px;
}

#hlist {
  max-height:0;
  overflow:hidden;
  transition:0.5s linear;
}

.docComment {color:#A9A9A9}
.comment {color:#80A9A9}
.reserved {color:#004471; font-weight: bold}
.className{color:#b14B9D; font-weight: bold}
.tgFunction{color:#C13B3B}
.annotation{color:#484800; font-weight: bold}
.number{color:#805280}
.quote1{color:#61BED9}
.quote2{color:#6189D9}
.quote3{color:#61BED9}
